.infoblocks {
    text-align: center;
    vertical-align: middle;
}

#welcome {
    background: linear-gradient(45deg, rgb(167, 167, 167) 0%, rgb(0, 0, 0) 100%); 
    color: white;
    text-align: center;
    vertical-align: middle;
    overflow-x: hidden;
    postion: relative;
}

#goodbye{
    background: linear-gradient(45deg, rgb(108, 204, 253) 0%, rgb(255, 177, 177) 100%);
    color: white;
    position: relative;
}

#timeline {
    background-color: rgb(0, 4, 7);
    position: fixed;
    border: 3px solid rgb(0, 22, 51);
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}